.removeItem{
  cursor: pointer;
}
.ShoppingCart p{
  font-weight: 700;
font-size: 24px;
line-height: 29px;
margin: 0px 30px;
}
.ShoppingItem{
  display:flex;
  width: 325px;
height: 119px;
border: 1px solid #F3F3F3;
box-sizing: border-box;
border-radius: 20px;
margin:0px 30px 20px 30px;
}
.ItemImage{
  width: 70px;
height: 70px;
margin:20px 21px 29px 20px;
}
.Title{
  width: 150px;
height: 34px;
font-weight: 400;
font-size: 14px;
line-height: 17px;
margin:30px 12px 8px 0px
}
.Price{
font-weight: 700;
font-size: 14px;
line-height: 17px;
}
.removeItem{
  width: 32px;
height: 32px;
margin: 44px 20px 43px 0px;
}

.ShoppingCart .Items{
 
  margin-bottom: 40px;
}
.ShoppingCart{
  display:flex;
  flex-direction: column;
}
.PriceBlock{
  width:325px;
  display: flex;
  align-items:center;
  margin:0 30px 19px 30px 
}

.PriceBlock p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin:0 9px 0 0
}
.TotalPrice{
font-size: 16px;
margin-left: 9px;
}

.border{
  flex-grow: 1;
  border-bottom: 1px dashed #DFDFDF;
  height:10px
}

.PlaceAnOrderButton{
  display: flex;
  width: 325px;
height: 55px;
background: #9DD558;
border-radius: 18px;
align-items: center;
text-align: center;
margin: 30px;
}
.PlaceAnOrderButton p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: auto
}
.PlaceAnOrderButton img{
  position: absolute;
  left:278px;
  width:13.7px;

}
.ShoppingCartWrapper{
  position: flex;
  width:385px;
  height: 100vh;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  right: 0px;
  top: 0px;
  z-index: 1;
  justify-content: space-between;
}

.ShoppingCartWrapper .items{
  height:50vh;
  overflow:auto;
  margin-bottom: 20px;
}
.ShoppingCartWrapper .BottomBlock{
 
}
.TitleShop{
 
  display: flex;
  align-items: center;
}
.TitleShop img{
  margin-left: 165px;
  cursor: pointer;
}
.wholeOpacity{
  top: 0px;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.5);
  z-index: 1;
}
.Empty{
  margin:20vh 50px;
  width: 285px;
height: 320px;
}
.trash{
  margin:0 82px 21px ;
  width: 120px;
height: 120px;
}
.Empty .TitleEmpty{
  font-weight: 600;
font-size: 22px;
text-align: center;
margin-bottom: 9px;
}
.Empty .DescriptEmpty{
font-weight: 400;
font-size: 16px;
text-align: center;
color: #000000;
opacity: 0.4;
text-align: center;
width: 285px;
height: 48px;
margin:0 50px 40px 0;
}
.previousButton{
  display: flex;
  background: #9DD458;
border-radius: 18px;
width: 245px;
height: 55px;
align-items: center;
margin: 0 auto;
cursor: pointer;
}
.previousButton p{
  font-size: 16px;
line-height: 19px;
text-align: center;
margin:auto;
color: #FFFFFF;

}
.previousButton img{
  position: absolute;
  left:31px;
  width:13px;
}
.BottomBlock{
  position:fixed;
  bottom:20px;
}